*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.body{
  background-color: white;
  animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    background-color: white;
  }
  to {
    opacity: 1;
    background-color: white;
  }
}


@font-face {
    font-family:roboto;
    src: url('/fonts/WixMadeforTextVF_W_Wght.8022447a.woff2');
}

@font-face {
    font-family:Oswald;
    src: url('/fonts/Oswald-VariableFont_wght.ttf');
}

@font-face {
  font-family: open-sans;
  src: url('/open/sans.woff2');
}


@media screen and (max-width: 500px) {
    .nav-list {
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: black;
      flex-direction: column;
      padding: 60px 20px;
      gap: 20px;
      z-index: 2;
      animation: slideIn 0.3s forwards;
    }
  
    @keyframes slideIn {
      0% {
        left: -100%;
      }
      100% {
        left: 0;
      }
    }
    .mobile-only{
      display: block;
      padding: 10px 20px 0;
    }
  }