<footer>
    <div class="Subscribe">
        <h1>Subscribe for hot updates</h1>

        <form>
            <div>
                <div class="email-input">
                    <label for="email">Enter your email here*</label>
                    <input type="email" id="email" required>
                </div>

                <div class="checkbox-input">
                    <label class="cyberpunk-checkbox-label">
                        <input type="checkbox" class="cyberpunk-checkbox">
                        Yes, Subscribe Me To Your Newsletter *
                    </label>
                    <button type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <div class="socials">
        <p>Follow us:</p>
        <div>
            <a href="https://www.facebook.com/wix">
                <img src="/images/e0678ef25486466ba65ef6ad47b559e1 (1).avif" alt="">
            </a>
            <a href="https://x.com/wix">
                <img src="/images/c4392d634a0148fda8b7b2b0ad98293b.avif" alt="">
            </a>
            <a href="https://www.instagram.com/wix">
                <img src="/images/da7ef6dd1302486c9a67baebe4b364bc.avif" alt="">
            </a>
        </div>
        <p>© 2035 by Bread. Powered and secured by Wix</p>
    </div>
</footer>
