<main>
    <div class="intro-container">
        <div class="intro-text-container">
          <h1 class="Title1">Bread.</h1>
          <p class="breadP">It's the Simple Pleasures in Life</p>
        </div>
      </div>

      <div class="advertisement-container">
        <h2>Fresh From the Oven to Your Doorstep</h2>
        <div  class="advertisement-item">
            <div class="items">
                <img src="/images/9c608a_a5eaf3dd3106463e8d564bc702101b72.avif" alt="Sourdough">
                <p class="itemsP">Sourdough Bread</p>
            </div>
            <div class="items">
                <img src="/images/9c608a_94a2dbfb919b44b591c18de121c4c8ba.avif" alt="">
                <p class="itemsP">Cold Brew Coffee</p>
            </div>
            <div class="items">
                <img src="/images/9c608a_69c3c69bd662433d9a47b602d53daaa2.avif" alt="">
                <p class="itemsP">Pretzel Paradise</p>
            </div>
        </div>
        <a href="/order.html"><button class="order-online-button">Order Online</button></a>
      </div>

      <div class="video-container">
        <video src="/images/bread1vid.mp4" autoplay muted loop class="background-video"></video>
      </div>

      <div class="About-bakery">
        <div class="aboutbakery1">
            <h1 class="aboutbakerytitle">About Our Bakery</h1>
            <p>This is your About section. It’s a great space to tell your  story and to describe who you are and what you do. If  you're a business, talk about how you started and tell the  story of your professional journey. People want to know  the real you, so don't be afraid to share personal  anecdotes. Explain your core values and how you, your organization, or your business stand out from the crowd.</p>
            <button><a href="/about.html">Read More</a></button>
        </div>
        <img src="/images/9c608a_9efc5333c98a44c994dbb37cade9066f.avif" alt="breadman" class="breadman-img">
      </div>

      <div class="Gluten-Free">
        <img src="/images/84770f_72f88ac7ac11469f92a95b636d87d7fd~mv2.avif" alt="">
        <div class="Gluten-Free1">
            <h1>Gluten-Free Products</h1>
            <p>I'm a paragraph. Click here to add your own text and  edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>
            <button><a href="/menu.html">Shop Now</a></button>
        </div>
      </div>

      <div class="autro-container">
        <p>Jump Start Your Day with a Cold Brew</p>
        <h1>Coffee</h1>
      </div>
</main>