<main>
  <div>
    <div class="menu-entrance">
      <h1 class="main-title">Our Menu</h1>

      <div class="menu-text">
        <h2>BAGELS</h2>
        <p>This is a section of your menu. Give your section a brief description</p>
      </div>
    </div>

    <div class="bagel-menu">
      <div class="plain-bagel">
        <img src="/images/bdd8d0509a9c4106936093f33e71be3e.webp" alt="">
        <h3>PLAIN BAGEL</h3>
        <p>This is an item on your menu. Give your item a brief description</p>
        <p>9.00</p>
      </div>

      <div class="sesame-bagel">
        <img src="/images/fffe1ed801dc47c189bac6084a4ce1df.webp" alt="">
        <h3>SESAME BAGEL</h3>
        <p>This is an item on your menu. Give your item a brief description</p>
        <p>9.00</p>
      </div>

      <div class="sunflower-bagel">
        <img src="/images/b7e224d3b95248c2a8b0d4f8895cc19c.webp" alt="">
        <h3>SUNFLOWER SEEDS BAGEL</h3>
        <p>This is an item on your menu. Give your item a brief description</p>
        <p>9.00</p>
      </div>

      <div class="poppy-bagel">
        <img src="/images/7fb4e131a92d4f0ba3be40aded1bfbc7.webp" alt="">
        <h3>POPPYSEED BAGEL</h3>
        <p>This is an item on your menu. Give your item a brief description</p>
        <p>9.00</p>
      </div>

      <div class="wheat-bagel">
        <img src="/images/edea44dcd06f4284b17f779de573b243.webp" alt="">
        <h3>WHOLE WHEAT BAGEL</h3>
        <p>This is an item on your menu. Give your item a brief description</p>
        <p>9.00</p>
      </div>

      <div class="whole-seeds-bagel">
        <img src="/images/0101ab2448ac4597bd3d7c2122303151.webp" alt="">
        <h3>WHOLE WHEAT & SEEDS BAGEL</h3>
        <p>This is an item on your menu. Give your item a brief description</p>
        <p>9.00</p>
      </div>
    </div>

    <div class="bread-text">
      <h1>BREAD</h1>
      <p>This is a section of your menu. Give your section a brief description</p>
    </div>

    <div class="bread-menu">
      <div class="sourdough-bread">
        <img src="/images/688279495a56750523c246eaf5ca596c.webp" alt="">
        <h3>SOURDOUGH</h3>
        <p>This is an item on your menu. Give your item a brief description</p>
        <p>9.00</p>
      </div>

      <div class="grain-bread">
        <img src="/images/74aca84d6807380e780dc90a048a3dbf.webp" alt="">
        <h3>WHOLE GRAIN SOURDOUGH</h3>
        <p>This is an item on your menu. Give your item a brief description</p>
        <p>9.00</p>
      </div>

      <div class="wheat-bread">
        <img src="/images/64517c464842c8dba967bc038f61a95c.webp" alt="">
        <h3>100% WHOLE WHEAT SOURDOUGH</h3>
        <p>This is an item on your menu. Give your item a brief description</p>
        <p>9.00</p>
      </div>

      <div class="challa-bread">
        <img src="/images/8b95682cd731a9b0c4bdb3b0e8e6b564.webp" alt="">
        <h3 class="challa-bread-title">CHALLA BREAD</h3>
        <p>This is an item on your menu. Give your item a brief description</p>
        <div class="challa-price">
          <p>9.00</p>
        </div>
      </div>
    </div>
  </div>
</main>
