  <main>
      <section class="order-section1">
          <img src="/images/11062b_6c8e75cd74f3445eade90feee0f3d609~mv2.avif" alt="order-breadImg">
      </section>
      <section class="order-section2">
          <div class="order-section2-1">
              <div class="order-title">
                  <h3>Order Online</h3>
                  <p>You can order online! Browse our menu items and choose what you’d like to order from us.</p>
              </div>
              <button class="Accept-ordersButton">Accepting Orders</button>
              <div class="order-buttons">
                  <div class="order-button1"> <p>Pickup</p></div>
                  <div class="order-button2"><p>Delivery</p></div>
              </div>
              <div class="orderP">
                  <p class="order-time">Pickup time: Up to 30 minutes <a href="#" class="change-order">Change</a></p>
                  <p class="order-place">Pickup Address: San Francisco, CA</p>
              </div>
          </div>

          <div class="order-section2-2">
              <div class="order-text">
                  <h4>The are no items to show here yet</h4>
                  <p>Come back soon to see what we have to offer</p>
              </div>
          </div>
      </section>
  </main>