.order-section1 img{
  width: 100%;
}

.order-buttons, .orderP{
  display: flex;
  color: black;
}

.order-button1, .order-button2{
  border: 1px solid rgb(87, 87, 87);
  width: 170px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: Roboto;
  font-weight: 500;
}

.order-button1{
  background-color: rgb(212, 212, 212);
}

.order-title{
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: black;
}

.order-title h3{
  font-family: Roboto;
  font-weight: 800;
  font-size: 50px;
  color: black;
}

.order-title p{
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  color: black;
}

.Accept-ordersButton{
  padding: 8px 5px;
  border: 1px solid rgb(190, 190, 190);
  background-color: white;
  border-radius: 20px;
  max-width: 130px;
  font-size: 11px;
  color: rgb(42, 42, 42);
}

.Accept-ordersButton::before{
  content: " ● ";
  color: rgb(0, 227, 0);
  margin-right: 1vw;
}

.order-section2-1{
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-time::before{
  content: "⏱︎ ";
  color: black;
  padding: 5px;
}

.order-place::before{
  content: "⚲";
  color: black;
  padding: 10px;
}

.change-order{
  color: black;
  text-decoration: underline;
}

.change-order:hover{
  text-decoration: none;
}

.orderP{
  font-family: Roboto;
  font-weight: 400;
  font-size: 15px;
  color: black;
}


.order-section2-2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  padding-top: 60px;
}

.order-text{
  padding: 50px;
  border: 1px solid grey;
  width: 93%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: black;
  
}

.order-text h4{
  font-family: Roboto;
  font-weight: 900;
  font-size: 25px;
}

.order-text p{
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
}

@media screen and (max-width:785px){
  .order-section1 img{
    height: 60vw;
  }
}

@media screen and (max-width:500px){
    .order-title h3{
      font-size: 30px;
    }

    .order-section2-1{
      padding: 20px;
    }


    .orderP{
      gap: 10px;
    }


    .cart-main{
      height: 140vw;
    }

}