<header>
  <div class="header1">
    <nav>
      <ul>
        <li><a routerLink="#" >Home</a></li>
        <li><a routerLink="#">contact</a></li>
        <li><a routerLink="#">reservation</a></li>
        <li><a routerLink="#">about</a></li>
        <li><a routerLink="#">Order Online</a></li>
        <li>
          <a
            routerLink="/"
            routerLinkActive="active-link"
          >
            Menu
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="header2">
    <p>made with love by our drop dead gorgeous chef called mari</p>
  </div>
</header>
