    <header>
        <div class="header-container">
            <nav>
                <input type="checkbox" id="menu-toggle" class="menu-toggle">
                <label for="menu-toggle" class="hamburger">&#9776;</label>
                <ul class="nav-list">
                    <li><a routerLink="/">HOME</a></li>
                    <li><a routerLink="menu">MENU</a></li>
                    <li><a routerLink="orderOnline">ONLINE ORDER</a></li>
                    <li><a routerLink="about">ABOUT</a></li>
                    <li><a routerLink="contact">CONTACT</a></li>
                </ul>
            </nav>
            <div class="cart-login-container">
            <p class="adress">500 TERRY FRANCINE ST. SF, CA 94158</p>
                <p>Log In</p>
                <a routerLink="cart"><img src="/images/download.jfif" alt="cart" class="cart-img"></a>
            </div>
        </div>
    </header>